{% extends "base.html" %}
{% block conteudo %}
<h1>Finalizar Compra</h1>
    <h3>Seu Pedido:</h3>
    <ul>
        {% for item in carrinho %}
            <li>
                {{ item.produto.nome }}: {{ item.quantidade }} x R$ {{ item.preco }} =
                <span>R$ {{ item.subtotal }}</span>
            </li>
        {% endfor %}
    </ul>
    <p>Total Geral: R$ {{ carrinho.get_total_geral }}</p>
    <form action="." method="post" class="order">
        <h2>Formulário Solicitar Pedido</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <div class="submitPedido">
            <button type="submit" class="btn btn-primary">Enviar pedido</button>
        </div>
    </form>
{% endblock %}
